<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="재미있는 메타버스 인생네컷 찍기!" />
    <meta name="description" content="Meta4Cut" />

    <!-- title  -->
    <title>Meta4Cut</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" href="./quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="/css/custom.css" rel="stylesheet">

</head>
<body>
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="position-absolute w-100 sm-position-relative transparent-header">

            <div class="navbar-default">
                <div class="container lg-container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="/landing" class="navbar-brand inner-logo"><img id="logo" src="/img/logos/logo-white.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li><a href="/landing">Home</a></li>
                                        <!-- <li><a href="about.html">About Us</a></li> -->
                                    </ul>
                                    <!-- end menu area -->

                                </nav>
                            </div>
                        </div>
                    </div>
            </div>

        </header>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background left-overlay-dark" data-overlay-dark="8" data-background="/img/m4c/contact_title.jpg">
            <div class="container lg-container">

                <div class="row">
                    <div class="col-md-12">
                        <h1>문의 접수</h1>
                    </div>
                    <div class="col-md-12">
                        <ul class="ps-0">
                            <li><a href="/landing">Home</a></li>
                            <li><a href="/landing/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <!-- CONTACT
        ================================================== -->
        <section class="bg-grey">
            <div class="container">
                <div class="row mt-n4 justify-content-center">
                    <div class="col-lg-4 mt-4">
                        <div class="card card-style07 py-2-8 px-1-6 bg-white">
                            <div class="card-body">
                                <div class="title-box mb-4">
                                    <i class="fas fa-comments"></i>
                                    <div class="box-circle-large"></div>
                                    <div class="box-circle-small"></div>
                                </div>
                                <h3 class="h5 mb-3">개발자 연락처</h3>
                                <p class="mb-0 w-90 w-md-75 w-lg-100 mx-auto"><strong class="font-weight-600">Phone:</strong> +82-10-8234-3179</p>
                                <p class="mb-0 w-90 w-md-75 w-lg-100 mx-auto"><strong class="font-weight-600">KakaoTalk:</strong> dlaudrb96</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div class="card card-style07 py-2-8 px-1-6 bg-white">
                            <div class="card-body">
                                <div class="title-box mb-4">
                                    <i class="fas fa-envelope"></i>
                                    <div class="box-circle-large"></div>
                                    <div class="box-circle-small"></div>
                                </div>
                                <h3 class="h5 mb-3">개발자 메일 주소</h3>
                                <p class="mb-0 w-90 w-md-75 w-lg-100 mx-auto"><a href="#!">brstar96@naver.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACT FORM
        ================================================== -->
        <section>
            <div class="container wow fadeInUp" data-wow-delay=".1s">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 wow fadeIn">

                        <div class="w-md-85 w-xl-65 text-center mx-auto mb-6 mb-lg-8">
                            <h2 class="mb-4">문의 사항을 남겨 주세요!</h2>
                            <p class="mx-auto mb-0">아래 정보를 작성 후 전송해 주시면 빠른 시일 내 답변드리겠습니다. <br>
                                <i>전송 버튼을 누를 시 본 서비스의 개인정보 보호 방침에 동의하시는 것으로 간주합니다.</i></p>
                        </div>

                        <form id="emailForm" class="gform quform" method="POST" data-email="brstar9651@@gmail.com" target="iframe1" 
                        action="https://script.google.com/macros/s/AKfycbzMB81YqUYIDAVojvN07Ur7VHqdPqsxVeK6wFsh28Dr6pBOYLcECyYovI_bwgEQgyW-Ig/exec">
                            <div class="quform-elements">
                                <div class="row">
                                    <!-- Begin Text input element -->
                                    <div class="col-md-4">
                                        <div class="quform-element form-group">
                                            <label for="name">이름 또는 닉네임 <span class="quform-required">*</span></label>
                                            <div class="quform-input">
                                                <fieldset>
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="이름이나 닉네임을 입력해 주세요."/>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="quform-element form-group">
                                            <label for="customer_email">답변받으실 메일 주소 <span class="quform-required">*</span></label>
                                            <div class="quform-input">
                                                <fieldset>
                                                    <input type="email" class="form-control" id="customer_email" name="customer_email" placeholder="답변을 받으실 이메일 주소를 입력해 주세요."/>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="quform-element form-group">
                                            <label for="subject">제목<span class="quform-required">*</span></label>
                                            <div class="quform-input">
                                                <fieldset>
                                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="결제/환불, 사용문의, 기타문의 등 해당하는 내용을 포함하도록 입력해 주세요."/>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="quform-element form-group">
                                            <label for="message">문의 내용 <span class="quform-required">*</span></label>
                                            <div class="quform-input">
                                                <fieldset>
                                                    <textarea class="form-control" id="message" name="message" rows="6" placeholder="문의 내용을 자유 양식으로 작성해 주세요."></textarea>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div class="quform-element">
                                            <div class="form-group">
                                                <div class="quform-input">
                                                    <input class="form-control" id="type_the_word" type="text" name="type_the_word" placeholder="Type the below word" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="quform-captcha">
                                                    <div class="quform-captcha-inner">
                                                        <img src="quform/images/captcha/courier-new-light.png" alt="...">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- End Captcha element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button id="btnSubmit" class="butn style-one fill m-0 px-4" type="submit" onclick="return check();">개인정보 보호 방침 동의 및 전송</button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>
                                    <!-- End Submit button -->

                                </div>

                            </div>

                        </form>

                        <script data-cfasync="false" src="./js/formsubmissionHandler.js"></script>
                        <script>
                            function check() {
                                var name = document.getElementById("name").value;
                                var email = document.getElementById("customer_email").value;
                                var subject = document.getElementById("subject").value;
                                var message = document.getElementById("message").value;

                                if (name === "") {
                                    alert("이름 또는 닉네임을 입력해 주세요!");
                                    document.getElementById("name").focus();
                                    return false;
                                }

                                if (email === "") {
                                    alert("답변받으실 메일 주소를 입력해 주세요!");
                                    document.getElementById("customer_email").focus();
                                    return false;
                                }

                                var exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
                                if (exptext.test(email) === false) {
                                    alert("올바른 메일 형식을 입력해 주세요!");
                                    document.getElementById("customer_email").focus();
                                    return false;
                                }

                                if (subject === "") {
                                    alert("제목을 입력해 주세요!");
                                    document.getElementById("subject").focus();
                                    return false;
                                }

                                if (message === "") {
                                    alert("문의 내용을 입력해 주세요!");
                                    document.getElementById("message").focus();
                                    return false;
                                }

                                return true;
                            }
                            
                            // 등록 완료 알람
                            function sendComplete() {
                                alert("등록이 완료되었습니다!\n빠른 시일 내 답변드리겠습니다.");
                                document.getElementById("message").innerHTML = "새 문의를 작성하고 싶으신 경우 새로고침을 해 주세요."
                                document.getElementById("btnSubmit").innerHTML = "등록 완료"
                            }
                        </script>
                        <!-- end form here -->

                    </div>
                </div>
            </div>
        </section>

        
        <!-- FOOTER
        ================================================== -->
        <footer class="pt-6 pt-sm-8 pt-lg-6">
            <div class="container">
                <div class="row pb-6 pb-sm-8 pb-lg-1">
                    <div class="col-sm-6 col-lg-4 mb-1 mb-sm-1 mb-lg-10">
                        <img src="/img/logos/logo-footer-small-white.png" class="mb-4 w-md-50 w-lg-65 w-xl-55" alt="footer-logo">

                        <h5 class="h6 font-weight-105 line-height-normal text-white-90 w-md-85 mb-4">
                            우리만의 모바일 네컷사진관
                        </h5>
                    </div>

                    <div class="col-sm-6 col-lg-2 mb-4 mb-sm-5 mb-lg-0"></div>
                    <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0"></div>
                </div>
            </div>

            <div class="text-center border-top py-4 border-color-light-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-white-90 mb-0">&copy; Copyright MyeongGyu.LEE <span class="current-year"></span> All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- all js include start -->

    <!-- jquery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="/js/scrollIt.min.js"></script>

    <!-- search -->
    <script src="/search/search.js"></script>

    <!-- navigation -->
    <script src="/js/nav-menu.js"></script>

    <!-- tab -->
    <script src="/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="/js/owl.carousel.js"></script>

    <!-- animated js -->
    <script src="/js/animated-headline.js"></script>

    <!-- jquery.counterup.min -->
    <script src="/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="/js/waypoints.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>


    <!-- wow js -->
    <script src="/js/wow.js"></script>

    <!-- theme core scripts -->
    <script src="/js/main.js"></script>

    <!-- custom scripts -->
    <!-- <script src="/js/custom.js"></script> -->

    <!-- all js include end -->

</body>

</html>