<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Revolve - Personal Magazine blog Template</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--Favicon-->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<!-- THEME CSS
	================================================== -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<!-- Themify -->
	<link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
	<link rel="stylesheet" href="plugins/slick-carousel/slick-theme.css">
	<link rel="stylesheet" href="plugins/slick-carousel/slick.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="plugins/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
	<!-- manin stylesheet -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="header-top bg-dark py-4">
    <div class="container">
        <nav class="navbar navbar-expand-lg navigation menu-white">
            <a class="navbar-brand" href="/">
                <img src="images/logo-w.png" alt="" class="img-fluid">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu  text-white"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="menu navbar-nav ml-auto">
                  <li class="nav-item"><a href="/about" class="nav-link">About</a></li>  
                  <li class="nav-item"><a href="/article/list" class="nav-link">Blog</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Community
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">DevNews</a>
                      <a class="dropdown-item" href="#">코딩여지도</a>
                      <a class="dropdown-item" href="#">오늘의 지름</a>
                      <a class="dropdown-item" href="#">DevDon</a>
                    </div>
                  </li>
                  <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                </ul>
                <div class="text-lg-right search ml-4">
                    <div class="search_toggle"><i class="ti-search text-white"></i></div>
                </div>
            </div>
        </nav>
    </div>
  </header>


	<div class="header-logo py-5">
		<div class="container">
			<div class="row justify-content-center">
			</div>
		</div>
	</div>

	<section class="section-padding pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<article class="post-grid mb-5">
						<a class="post-thumb mb-4 d-block" href="/post_sample">
							<img src="images/fashion/bg-fashion.jpg" alt="" class="img-fluid w-100">
						</a>
						<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">DevNews</span>
						<h2 class="mb-1 mt-2 post-title"><a href="/post_sample">Stability AI, 스케치를 이미지로 바꿔주는 Stable Doodle 공개 (stability.ai)</a></h2>

						<div class="post-content mt-4">
							<p>간단한 스케치 이미지를 동적인 이미지로 변환해 줌 Clipdrop(웹,iOS,Android) 내에서 사용 가능 14가지 스타일에서 선택 : 사진, 시네마틱, Isometric, Anime, Comic Book, 판타지, 종이접기, 디지털 아트,..
                Stable Diffusion Model SDXL 0.9 + T2I-Adapter(Tencent ARC가 개발한 Text-to-Image용 상세 조건 제어 솔루션)</p>
						</div>
					</article>


					<div class="row">
						<div class="col-lg-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/post_sample">
									<img src="images/fashion/img-1.jpg" alt="" class="img-fluid">
								</a>
								<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Blog</span>
								<h3 class="post-title mb-1 mt-2"><a href="/post_sample">The Rise of the AI Engineer</a></h3>

								<div class="post-content mt-4">
									<p>Emergent capabilities are creating an emerging title: to wield them, we'll have to go beyond the Prompt Engineer and write *software*. Plus: Join 500 AI Engineers at our first summit, Oct 8-10 in SF!</p>
								</div>
							</article>
						</div>

						<div class="col-lg-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/post_sample">
									<img src="images/fashion/img-2.jpg" alt="" class="img-fluid">
								</a>
								<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Blog</span>
								<h3 class="post-title mb-1 mt-2"><a href="/post_sample">AWS - Private Database 구축하기(3) - SSH Tunneling 으로 Private DB 접속하기(Mac)</a></h3>

								<div class="post-content mt-4">
									<p>SSH Tunneling의 필요성 이전 글에서 다뤘듯이, Private Database는 외부에서 인터넷을 통해 접근할 수 없다. public IP가 할당되지 않았고, Internet Gateway을 Subnet의 라우팅 테이블에 추가하지 않았기 때문이다. 그렇다 보니, 로컬(local) 환경에서 일반적인 SSH 연결로는 Private DB와 통신을 주고받는 것이 불가능하다.</p>
								</div>
							</article>
						</div>

						
					</div>

					<article class="post-grid mb-5">
						<a class="post-thumb mb-4 d-block" href="/post_sample">
							<img src="images/fashion/img-3.jpg" alt="" class="img-fluid w-100">
						</a>
						<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">오늘의 지름</span>
						<h3 class="mb-1 mt-2 post-title"><a href="/post_sample">Leica M11 (typ2416) / first impression</a></h3>

						<div class="post-content mt-4">
							<p>라이카 원로분들처럼 20세기(19xx년)부터 라이카를 사용해 보지는 못하였으나, 21세기가 되어서야 선배분들의 정보 공유와 조언에 힘입어 라이카를 잘 즐기고 있는 한 사람입니다. 근래에는 정보 양이 폭발적으로 팽창하여, 이전보다 더 쉽고 빠르게 관심있는 내용들을 습득할 수 있는 환경이 되었습니다. 이러한 까닭은 여러가지로 노고를 아끼지 않았던 여러 선현들의 삽질덕분입니다.</p>
						</div>
					</article>

					<div class="row">
						<div class="col-lg-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/post_sample">
									<img src="images/fashion/img-4.jpg" alt="" class="img-fluid">
								</a>

								<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">오늘의 지름</span>
								<h3 class="post-title mb-1 mt-2"><a href="/post_sample">Leica Noctilux-M, ASPH. 50mm 1:1.2 reissue : The legend continues in the new century</a></h3>

								<div class="post-content mt-4">
									<p>지금은 고감도의 디지털 카메라가 보편화되고, 어두운 곳에서 핸드폰 카메라들 역시 매우 잘 동작하는 풍요로운 시대이지만, 반세기전만 해도 이것은 꿈도 꾸지 못할 환경이었다. 필름이라는 고정된 매체에서 아스라한 빛을 담기 위한 의지는 밝은 대구경 렌즈의 개발로 이어졌다. 이는 보도사진, 전쟁 뿐만 아니라 전후 일반 사람들의 일상에서도 사진기술이 해결해야 할 숙제였다. 빠른 표준렌즈의 요구에 부응하여, 1950년부터 여러 카메라 브랜드들이 앞다투어, 대구경 렌즈를 개발, 발매하기 시작하였다. 그렇게 Fast Lens Wars 의 서막이 올랐다. Leica Noctilux 렌즈를 소개하기 앞서, 이 재미난 경쟁의 역사를 한 번 톺아보자.</p>
								</div>
							</article>
						</div>

						<div class="col-lg-6">
							<article class="post-grid mb-5">
								<a class="post-thumb mb-4 d-block" href="/post_sample">
									<img src="images/fashion/img-5.jpg" alt="" class="img-fluid">
								</a>

								<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">오늘의 지름</span>
								<h3 class="post-title mb-1 mt-2"><a href="/post_sample">LG 스탠바이미 고 체험기 (사용기X)</a></h3>

								<div class="post-content mt-4">
									<p>지난주 결재 직전까지 갔다가 이건 뭔가 보고사야할것 같다는 느낌이 강하게 들었어요.

                    어제 마침 쉬는 날이라서 혼자 구경하러 갔다왔습니다. (전시되어 있는 LG매장이 따로 있는것 같더라구요.) 
                    
                    
                    
                    제 구매 목적은 
                    
                    거실 제네바 스피커 대체 : 평소엔 거실에 놓고 일정부분 HIFI 대체 + 인테리어 요소
                    
                    16인치 포터블 모니터 대체 : 놀러갈때 아이들 미디어 + 닌텐도 모니터로 활용 (캠핑 X)
                    
                    
                    
                    결론부터 이야기 하자면 뽐이 사라졌습니다.</p>
								</div>
							</article>
						</div>
					</div>


					<div class="pagination mt-5 pt-4">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<div class="sidebar-wrap mt-5 mt-lg-0">
							<!-- <div class="sidebar-widget about mb-5 text-center p-3">
								<div class="about-author">
									<img src="images/author.jpg" alt="" class="img-fluid">
								</div>
								<h4 class="mb-0 mt-4">Liam Mason</h4>
								<p>Travel Blogger</p>
								<p>I'm Liam, last year I decided to quit my job and travel the world. You can follow my journey on this
									blog!</p>
								<img src="images/liammason.png" alt="" class="img-fluid">
							</div> -->


							<div class="sidebar-widget mb-5 ">
								<h4 class="text-center widget-title">Trending Posts</h4>

								<div class="sidebar-post-item-big">
									<a href="/post_sample"><img src="images/news/img-1.jpg" alt="" class="img-fluid"></a>
									<div class="mt-3 media-body">
										<span class="text-muted letter-spacing text-uppercase font-sm">July 17, 2023</span>
										<h4><a href="/post_sample">Compound Startup의 등장</a></h4>
									</div>
								</div>

								<div class="media border-bottom py-3 sidebar-post-item">
									<a href="#"><img class="mr-4" src="images/news/thumb-1.jpg" alt=""></a>
									<div class="media-body">
										<span class="text-muted letter-spacing text-uppercase font-sm">July 17, 2023</span>
										<h4><a href="/post_sample">GitHub Merge Queue 일반 공개</a></h4>
									</div>
								</div>

								<div class="media py-3 sidebar-post-item">
									<a href="#"><img class="mr-4" src="images/news/thumb-2.jpg" alt=""></a>
									<div class="media-body">
										<span class="text-muted letter-spacing text-uppercase font-sm">July 17, 2023</span>
										<h4><a href="/post_sample">[오픈소스] 피포페인팅 이미지 자동변환 영상처리 기술</a></h4>
									</div>
								</div>
							</div>


							<div class="sidebar-widget category mb-5">
								<h4 class="text-center widget-title">카테고리</h4>
								<ul class="list-unstyled">
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Tech News</a>
										<span>14</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Tips</a>
										<span>2</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Travel</a>
										<span>2</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Trends</a>
										<span>3</span>
									</li>
								</ul>
							</div>

							<div class="sidebar-widget subscribe mb-5">
								<h4 class="text-center widget-title">구독하기</h4>
								<input type="text" class="form-control" placeholder="이메일 주소를 입력해 주세요.">
								<a href="#" class="btn btn-primary d-block mt-3">새 소식 받기</a>
							</div>

							<div class="sidebar-widget sidebar-adv mb-5">
								<a href="#"><img src="images/sidebar-banner3.png" alt="" class="img-fluid w-100"></a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="footer-2 section-padding gray-bg pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="subscribe-footer text-center">
						<div class="form-group mb-0">
							<h2 class="mb-3">소식 구독하기</h2>
							<p class="mb-4">더 많은 소식을 받아보세요.
							<p>
							<div class="form-group form-row align-items-center mb-0">
								<div class="col-sm-9">
									<input type="email" class="form-control" placeholder="이메일 주소를 입력해 주세요.">
								</div>
								<div class="col-sm-3">
									<a href="#" class="btn btn-dark ">구독하기</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-btm mt-5 pt-4 border-top">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline footer-socials-2 text-center">
							<li class="list-inline-item"><a href="/privacy_policy">Privacy policy</a></li>
							<li class="list-inline-item"><a href="/about">About</a></li>
							<li class="list-inline-item"><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="copyright text-center ">
              © <span class="current-year">2023 </span><a href="https://www.linkedin.com/in/myeong-gyu-lee/"> MyeongGyu.LEE</a> All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- THEME JAVASCRIPT FILES
================================================== -->
	<!-- initialize jQuery Library -->
	<script src="plugins/jquery/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="plugins/bootstrap/js/popper.min.js"></script>
	<!-- Owl caeousel -->
	<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="plugins/slick-carousel/slick.min.js"></script>
	<script src="plugins/magnific-popup/magnific-popup.js"></script>
	<!-- Instagram Feed Js -->
	<script src="plugins/instafeed-js/instafeed.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
	<script src="plugins/google-map/gmap.js"></script>
	<!-- main js -->
	<script src="js/custom.js"></script>


</body>

</html>