<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="MGL Tech Blog!" />
    <meta name="description" content="Tech Blog" />

    <!-- title  -->
    <title>MGL Tech Blog</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css" />

    <!-- search css -->
    <!-- <link rel="stylesheet" href="/search/search.css" /> -->

    <!-- quform css -->
    <!-- <link rel="stylesheet" href="/quform/css/base.css"> -->

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>
    <div class="main-wrapper">
        <header class="position-absolute w-100 sm-position-relative transparent-header">

            <div class="navbar-default">
                <div class="container lg-container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="/" class="navbar-brand inner-logo"><img id="logo" src="/img/logos/logo-white.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li><a href="/">Home</a></li>
                                        <!-- <li><a href="about.html">About Us</a></li> -->
                                    </ul>
                                    <!-- end menu area -->

                                </nav>
                            </div>
                        </div>
                    </div>
            </div>

        </header>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background left-overlay-dark" data-overlay-dark="8" data-background="/img/m4c/faq_title.jpg">
            <div class="container lg-container">

                <div class="row">
                    <div class="col-md-12">
                        <h1>개인정보 처리 방침</h1>
                    </div>
                    <div class="col-md-12">
                        <ul class="ps-0">
                            <li><a href="/">Home</a></li>
                            <li><a href="/privacy_policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <!-- PRIVACY POLICY
        ================================================== -->
        <section>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-9">
                        <div class="border rounded p-1-9">
                            <div class="mb-5">
                                <h2 class="mb-4">소개</h2>
                                <p>”메타네컷”(이하 “서비스”)은 개인정보보호법에 따라 이용자("사용자")의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
                                    본 개인정보처리방침은 “홈페이지” 및 “서비스” 이용에 적용되며 다음과 같은 내용을 담고 있습니다. 또한, 개인정보처리방침을 제정·시행함에 있어 개인정보처리방침을 개정하는 경우 “홈페이지” 및 모바일 어플리케이션(”서비스”)의 공지사항(또는 개별공지)을 통하여 공지합니다.</p>
                            </div>
                            <div class="mb-5">
                                <h4 class="mb-4">제1조 (개인정보의 처리 목적)</h4>
                                <p>“홈페이지” 및 “서비스”는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위해 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다. “홈페이지” 및 “서비스”에서 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.</p>
                                <ul class="list-style mb-0 ps-0">
                                    <li>회원식별 및 가입의사 확인, 회원관리</li>
                                    <li>민원처리 및 고객 상담</li>
                                    <li>서비스 이용 과정 중 본인식별, 인증, 실명확인 및 각종 안내/고지</li>
                                    <li>불법, 부정이용 방지 및 비인가 사용방침</li>
                                    <li>결제서비스(인앱 결제)</li>
                                    <li>서비스 방문 및 이용기록 등의 통계</li>
                                    <li>다양한 서비스 및 신규 서비스 제공, 알림 서비스</li>
                                </ul><br><br>

                                <h4 class="mb-4">제2조 (개인정보의 처리 및 보유 기간)</h4>
                                <p>“홈페이지” 및 “서비스”는 이용자로부터 개인정보를 수집 시에 동의받은 개인정보 보유/이용기간 내에서 개인정보를 처리 및 보유합니다. 단, 다음의 정보는 아래의 이유로 명시한 기간 동안 보존됩니다.</p>
                                <ul class="list-style mb-0 ps-0">
                                    <li>이름, 이메일 주소, 전화 번호: 서비스 이용의사 확인, 고객문의 응대, 불만처리 등 고객 서비스 제공을 위해 1년간 보존합니다.</li>
                                    <li>회원 정보: 회원탈퇴 후 3년까지</li>
                                    <li>비회원 정보: 업무 목적 달성 시까지</li>
                                    <li>허위 정보 발견 신고: 처리내역 통보 완료 시까지</li>
                                    <li>법령 위반에 따른 수사/조사 등이 진행 중인 경우: 해당 건 종료 시까지</li>
                                </ul><br><br>

                                <h4 class="mb-4">제3조 (개인정보의 제3자 제공)</h4>
                                <p>“서비스”는 이용자의 개인정보를 제1조에서 고지한 범위 내에서 처리하며, 동의 범위를 초과하여 이용하거나 원칙적으로 제3자에게 제공하지 않습니다. 단, 아래의 경우는 예외로 합니다.</p>
                                <ul class="list-style mb-0 ps-0">
                                    <li>제3자 제공 시점 이전에 이용자로부터 사전 동의를 받은 경우</li>
                                    <li>서비스 제공에 따른 요금정산을 위하여 필요한 경우</li>
                                    <li>법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
                                </ul><br><br>

                                <h4 class="mb-4">제4조 (개인정보 처리의 위탁)</h4>
                                <p>“홈페이지” 및 “서비스”는 이용자의 개인정보를 위탁하고 있지 않습니다.</p><br>
                                
                                <h4 class="mb-4">제5조 개인정보 수집 및 이용에 대한 동의</h4>
                                <p>회사는 회원들이 회사의 개인정보 보호정책 또는 이용약관의 내용에 대하여 「동의 」버튼을 클릭할 수 있는 절차를 마련하여, 「동의」 버튼을 클릭하면 개인정보 수집 및 이용에 대해 동의한 것으로 봅니다.</p><br>
                                
                                <h4 class="mb-4">제6조 (이용자 및 법정대리인의 권리와 그 행사방법)</h4>
                                <p>사용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입 해지를 요청할 수도 있습니다.</p><br>

                                <h4 class="mb-4">제7조 개인정보의 처리방법</h4>
                                <p>“홈페이지” 및 “서비스”는 아래의 방법을 통해 개인정보를 처리할 수 있습니다.</p>
                                <ul class="list-style mb-0 ps-0">
                                    <li>회원가입 및 서비스 이용 과정에서 이용자가 개인정보 처리 동의를 하고 직접 정보를 입력하는 경우, 해당 개인정보를 처리합니다.</li>
                                    <li>고객센터를 통한 상담 과정에서 이메일 등을 통해 이용자의 개인정보를 처리할 수 있습니다.</li>
                                    <li>오프라인에서 진행되는 이벤트, 세미나 등에서 서면을 통해 개인정보가 처리될 수 있습니다.</li>
                                    <li>기기정보와 같은 생성정보는 서비스 이용 과정에서 자동으로 생성되어 수집될 수 있습니다.</li>
                                </ul><br><br>
                                
                                <h4 class="mb-4">제8조 개인정보의 파기</h4>
                                <p>“홈페이지” 및 “서비스”는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때 지체 없이 개인정보를 파기합니다. 이용자로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는 해당 개인정보를 별도의 데이터베이스(DB)에 옮기거나 보관장소를 달리하여 보존합니다. 개인정보 파기 절차 및 방법은 다음과 같습니다.</p>
                                <ul class="list-style mb-0 ps-0">
                                    <li>파기절차: “홈페이지” 및 “서비스”는 파기 사유가 발생한 개인정보를 선정하고, 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.</li>
                                    <li>파기방법: “홈페이지” 및 “서비스”는 전자적 파일 형태로 기록∙저장된 개인정보에 대하여 기록을 재생할 수 없는 기술적 방법을 사용합니다. 종이 문서에 기록∙저장된 개인정보는 분쇄하여 파기합니다.</li>
                                </ul><br><br>

                                <h4 class="mb-4">제9조 개인정보주체의 권리와 의무 및 그 행사방법</h4>
                                <ul class="list-style mb-0 ps-0">
                                    <li>사용자는 언제든지 “홈페이지” 및 “서비스”를 통하여 등록되어 있는 자신의 개인정보, 회사가 회원의 개인정보를 이용하거나 제3자에게 제공한 현황, 회사에게 개인정보 수집, 이용, 제공 등의 동의를 한 현황에 대하여 열람이나 제공을 요구할 수 있고, 오류가 있는 경우에는 그 정정을 요구할 수 있으며, 삭제 내지 가입해지를 요구할 수도 있습니다.</li>
                                    <li>회원의 개인정보 조회, 수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을, 가입해지(동의철회)를 위해서는 “회원탈퇴”를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.</li>
                                    <li>이 경우 “홈페이지” 및 “서비스”는 지체 없이 그 개인정보를 조사하여 사용자의 요구에 따라 정정, 삭제 등 필요한 조치를 한 후 그 결과를 사용자에게 알립니다.</li>
                                    <li>회원은 언제든지 회사에 자신의 개인정보 처리의 정지를 요구할 수 있으며, 이 경우에 회사는 지체 없이 그 요구에 따라 개인정보 처리의 전부 내지 일부를 정지하며, 처리가 정지된 개인정보에 대하여 지체 없이 그 개인정보의 파기 등 필요한 조치를 취합니다.</li>
                                    <li>개인정보와 관련하여 의의나 의견이 있으신 분은 개인정보 보호책임자 및 담당자에게 전화 또는 E-mail로 연락하시면 접수 즉시 처리 후 결과를 안내해 드립니다. 로그온(log-on)한 상태에서는 주위의 다른 사람에게 개인정보가 유출되지 않도록 특별히 주의를 기울이시기 바랍니다.</li>
                                </ul><br><br>

                                <h4 class="mb-4">제10조 쿠키의 활용</h4>
                                <p>인터넷 서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용기록, 기기정보가 생성되어 수집될 수 있습니다. 서비스 이용과정에서 사용자에 관한 정보를 회사가 자동화된 방법으로 생성하여 이를 저장(수집)할 수 있습니다. “홈페이지” 및 “서비스”는 쿠키정보를 수집해 사용자들의 각 서비스 접속 여부, 이용자 문의에 대한 확인 및 안내 등에 사용합니다. 쿠키는 웹 서비스 제공자의 서버가 이용자의 컴퓨터로 전송하는 소량의 정보이며, 방문한 웹사이트의 정보 등이 담겨 있습니다. 쿠키는 이용자 컴퓨터의 웹 브라우저는 식별하지만 이용자를 개인적으로 식별하지는 않으며, 이용자는 웹 브라우저의 옵션 메뉴를 통해 쿠키의 수용 여부 등을 설정할 수 있습니다. 쿠키를 통한 별도의 개인정보 수집 및 활용은 하지 않습니다. 방문자는 쿠키에 대해 선택권을 가지고 있으며, 웹 브라우저 상단의 [IE: 도구 - 인터넷 옵션 - 개인정보 – 고급정보 / Chrome: 설정 - 고급 - 콘텐츠 설정 - 쿠키]에서 모든 쿠키의 허용, 동의를 통한 쿠키의 허용, 모든 쿠키의 차단을 스스로 결정할 수 있습니다.</p><br>

                                <h4 class="mb-4">제11조 개인정보의 안전성 확보조치</h4>
                                <p>“홈페이지” 및 “서비스”는 사용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적∙관리적∙물리적 조치를 취하고 있습니다. 개인정보 보호 책임자는 이용자 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 사용자 개개인이 본인의 개인정보를 보호하기 위해서 자신의 아이디와 비밀번호를 적절하게 관리하고 여기에 대한 책임을 져야 합니다.</p>
                                <ul class="list-style4 mb-0 p-0">
                                    <li>개인정보 암호화: 이용자의 개인정보는 암호화되어 저장 및 관리되고 있으며, 중요한 데이터는 별도의 보안기능을 통해 철저하게 보호되고 있습니다.</li>
                                    <li>접근 제어: 개인정보를 처리할 수 있는 데이터베이스 시스템에 대한 접근 권한을 특정 관리자에게만 부여하여 외부 인력의 접근을 차단하고 있습니다. “홈페이지” 및 “서비스”는 방화벽과 별도의 네트워크 보안 설정을 적용, 외부 침입으로 인한 피해 방지 조치를 취하고 있습니다.</li>
                                </ul><br><br>

                                <h4 class="mb-4">제12조 개인정보 관련 의견수렴 및 침해, 불만처리에 관한 사항</h4>
                                <ul class="list-style mb-0 ps-0">
                                    <li>“홈페이지” 및 “서비스”의 개인정보 보호 책임자는 개인정보보호와 관련하여 “사용자”의 의견을 수렴하고 있으며 불만을 처리하기 위하여 모든 절차와 방법을 마련하고 있습니다. “사용자”는 “홈페이지” 및 “서비스” 이용 중 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 아래 개인정보 보호책임자 및 담당자에게 문의할 수 있습니다.</li>
                                    <li>정부에서 설치하여 운영 중인 아래의 기관에 불만처리를 신청할 수 있습니다.<br>
                                        – 개인정보침해신고센터 (www.1336.or.kr / 1336)<br>
                                        – 정보보호마크인증위원회 (www.eprivacy.or.kr / 02–580–0533)<br>
                                        – 대검찰청 첨단범죄수사과 (www.spo.go.kr / 02–3480–2000)<br>
                                        – 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02–393–9112)<br>
                                    </li>
                                    <li>사용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보 보호책임자(담당자)를 지정하고 있습니다.<br>
                                        – 담 당: 이명규<br>
                                        – 전화번호: 010-8234-3179<br>
                                        – 이메일: brstar96@naver.com<br>
                                    </li>
                                </ul><br><br>

                                <h4 class="mb-4">제13조 개인정보 처리방침의 변경</h4>
                                <p>“개인정보 보호책임자”는 개인정보 처리방침을 변경하는 경우에 개인정보주체인 “사용자”가 그 변경 여부, 변경된 사항의 시행시기와 변경된 내용을 언제든지 쉽게 알 수 있도록 지속적으로 ‘메일’과 “홈페이지” 및 “서비스”의 ‘공지사항’을 통하여 공개합니다. 이 경우에 변경된 내용은 변경 전과 후를 비교하여 공개합니다.<br>
                                    – 공고일자 : 2023년 5월 18일<br>
                                    – 시행일자 : 2023년 6월 1일</p><br>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        

        <!-- FOOTER
        ================================================== -->
        <footer class="pt-6 pt-sm-8 pt-lg-6">
            <div class="container">
                <div class="row pb-6 pb-sm-8 pb-lg-1">
                    <div class="col-sm-6 col-lg-4 mb-1 mb-sm-1 mb-lg-10">
                        <img src="/img/logos/logo-footer-small-white.png" class="mb-4 w-md-50 w-lg-65 w-xl-55" alt="footer-logo">

                        <h5 class="h6 font-weight-105 line-height-normal text-white-90 w-md-85 mb-4">
                            MGL Tech Blog
                        </h5>
                    </div>

                    <div class="col-sm-6 col-lg-2 mb-4 mb-sm-5 mb-lg-0"></div>
                    <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0"></div>
                </div>
            </div>

            <div class="text-center border-top py-4 border-color-light-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-white-90 mb-0">&copy; Copyright MyeongGyu.LEE <span class="current-year"></span> All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- all js include start -->

    <!-- jquery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="/js/scrollIt.min.js"></script>

    <!-- search -->
    <script src="/search/search.js"></script>

    <!-- navigation -->
    <script src="/js/nav-menu.js"></script>

    <!-- tab -->
    <script src="/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="/js/owl.carousel.js"></script>

    <!-- animated js -->
    <script src="/js/animated-headline.js"></script>

    <!-- jquery.counterup.min -->
    <script src="/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="/js/waypoints.min.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>


    <!-- wow js -->
    <script src="/js/wow.js"></script>

    <!-- theme core scripts -->
    <script src="/js/main.js"></script>

    <!-- all js include end -->

</body>

</html>