<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="MGL Tech Blog!" />
    <meta name="description" content="Tech Blog" />

    <!-- title  -->
    <title>Signup - MGL Tech Blog</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- REGISTER
        ================================================== -->
        <section class="bg-light p-0">

            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center min-vh-100">
                    <div class="col-md-8 col-lg-7 col-xl-5">

                        <!-- Form -->
                        <div class="card p-2-0 p-sm-2-5 my-2-0">

                            <div class="mb-4 text-center">
                                <h2 class="font-weight-normal mb-0">Signup to<span class="text-primary"> MGL BLOG</span></h2>
                                <p class="mb-0">필수 표기 항목(*)을 모두 작성한 후 등록하기 버튼을 눌러 주세요.</p>
                            </div>

                            <form>

                                <div class="row">

                                    <!-- Input -->
                                    <div class="col-12">

                                        <div class="form-group">
                                            <label>ID (Email Address)*</label>
                                            <input type="text" class="form-control" name="email" placeholder="아이디(E-mail)를 입력해 주세요." required>
                                        </div>

                                    </div>
                                    <!-- End Input -->

                                    <!-- Input -->
                                    <div class="col-12">

                                        <div class="form-group">
                                            <label>Password*</label>
                                            <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력해 주세요." required>
                                        </div>

                                    </div>
                                    <!-- End Input -->

                                    <!-- Input -->
                                    <div class="col-12">

                                        <div class="form-group">
                                            <label>Confirm Password*</label>
                                            <input type="password" class="form-control" name="confirmPassword" placeholder="비밀번호를 다시 입력해 주세요." required>
                                        </div>

                                    </div>
                                    <!-- End Input -->

                                </div>

                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="terms-condition" required>
                                            <label class="custom-control-label display-30" for="terms-condition"><a href="/privacy_policy">개인정보 처리 방침</a>에 동의합니다.</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 center">
                                        <button type="submit" class="butn style-one fill d-block w-100 mt-4 mb-0">등록하기</button>
                                    </div>
                                </div>

                                <div class="text-center text-small mt-4">
                                    <span>이미 계정이 있으신가요? <a href="/login" class="text-primary">Login</a></span><br>
                                    <a href="/" class="text-primary">메인으로</a>
                                </div>

                            </form>

                        </div>
                        <!-- End Form -->

                    </div>
                </div>
            </div>

        </section>

    </div>

    <!-- jquery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="/js/scrollIt.min.js"></script>

    <!-- navigation -->
    <script src="/js/nav-menu.js"></script>

    <!-- tab -->
    <script src="/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="/js/owl.carousel.js"></script>

    <!-- animated js -->
    <script src="/js/animated-headline.js"></script>

    <!-- jquery.mousewheel.min js -->
    <script src="/js/jquery.mousewheel.min.js"></script>
    
    <!-- wow js -->
    <script src="/js/wow.js"></script>

    <!-- theme core scripts -->
    <script src="/js/main.js"></script>

    <!-- index js -->
    <script src="/js/index.js"></script>

    <!-- all js include end -->

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            var email = document.querySelector('input[name="email"]').value;
            var password = document.querySelector('input[name="password"]').value;
            var confirmPassword = document.querySelector('input[name="confirmPassword"]').value;
            var termsCheckbox = document.querySelector('input[id="terms-condition"]').checked;
    
            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            var passwordPattern = /^(?=.*[a-z])(?=.*[!@#$%^&*]).{6,}$/;
    
            if (!emailPattern.test(email)) {
                alert('이메일 주소 형식이 올바르지 않습니다.');
                return false;
            }
    
            if (!passwordPattern.test(password)) {
                alert('비밀번호는 6자 이상의 영문 소문자와 특수기호를 포함해야 합니다.');
                return false;
            }
    
            if (password !== confirmPassword) {
                alert('비밀번호가 일치하지 않습니다.');
                return false;
            }
    
            if (!termsCheckbox) {
                alert('개인정보 처리 방침에 동의해야 합니다.');
                return false;
            }
    
            alert('회원가입이 완료되었습니다.');
            this.submit();
        });
    </script>

</body>

</html>