@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
.app {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    height: 40px;
    border-bottom: 1px solid #ccc;
    font-family: 'Noto Sans KR', sans-serif;
}
.main-wrapper{
    margin-top: 150px;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 30px;
}

.navigation li {
    margin-right: 40px;
}
.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.menu-trigger{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
.main-component {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.main-anchor{

}


.article {
    display: grid;
    grid-template-rows: 1fr 60px 30px;
    align-items: start;
    text-align: left;
}

.article-image {
    width: 180px;
    height: 180px;
    object-fit: revert;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.article-title {
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}
.article-date {
    margin-top: 5px;
    font-size: 12px;
    color: #888;
    opacity: 0.7;
}
.tit_section {
    top: 0;
    left: 0;
    font-size: 18px;
    color: red;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.footer-text {
    color: #777;
    font-size: 14px;
}

/**/
.inner-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 10px;
}
.inner-anchor{
    width: 100%;
}

.content-article-item{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-article-image{
    width: 180px;
    height: 180px;
    justify-self: center;
    align-self: center;
}
.content-article-date {
    font-size: 15px;
    color: #888;
    opacity: 0.7;
}
/**/
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #ccc;
}
/*errorPage*/
.error-page {
    text-align: center;
    margin-top: 20px;
}

.error-page h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.error-page p {
    font-size: 16px;
    margin-bottom: 5px;
}
/*post*/
.post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-input,
.post-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.post-textarea{
    height: 400px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.cancel-button,
.save-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #ccc;
    color: #fff;
    border: none;
    cursor: pointer;
}

.save-button {
    background-color: #007bff;
}
.container-img{
    margin: 20px;
}






