<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Blog | Register</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">My Blog</h1>

            </div>
            <h3>Welcome to My Blog</h3>

            <p>Member Registration</p>
            <form class="m-t" role="form" id="loginForm" method="post" action="member/register">
                <div class="form-group">
                    <input type="text" id="email" name="email" class="form-control" placeholder="Your Email" >
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="New Password">
                </div>
                <div class="form-group">
                    <input type="text" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" >
                </div>
                <div class="form-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
                </div>
                <a class="btn btn-primary block full-width m-b" href="login">Register</a>
            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

</body>

</html>